<div id="footer">
  <div class="container">
	  <center>
	  <form action="" method="post">
	  		<input name="race" value="1" checked="checked" type="checkbox">Race
	  		<input name="pers_name" value="2" checked="checked" type="checkbox">Pers
	  		<input name="land" value="3" checked="checked" type="checkbox">Land
	  		<input name="soldiers" value="21" type="checkbox">Soldiers
	  		<input name="runes" value="13" type="checkbox">Runes
	  		<input name="gold" value="10" type="checkbox">Gold
	  		<input name="networth" value="4" checked="checked" type="checkbox">Networth
	  		<input name="intel" value="6" checked="checked" type="checkbox">Updated
	  		<input name="mod_off" checked="checked" value="7" type="checkbox">mod off
	  		<input name="opa" value="8" type="checkbox">OPA
	  		<input name="mod_def" checked="checked" value="9" type="checkbox">mod def
	  		<input name="dpa" value="10" type="checkbox">DPA
	  		<input name="def_specs" value="12" type="checkbox">Def Specs
	  		<input name="nwpa" checked="checked" value="5" type="checkbox">NWPA<br>
	  		<input name="ppa" value="14" type="checkbox">PPA
	  		<input name="be" value="15" type="checkbox">BE%
	  		<input name="mt" value="16" type="checkbox">MT%
	  		<input name="mwt" value="17" type="checkbox">MWT%
	  		<input name="bpa" value="18" type="checkbox">BPA
	  		<input name="food" value="19" type="checkbox">Food
	  		<input name="wpa" value="20" type="checkbox">WPA(raw)
	  		<input name="uwt" value="21" type="checkbox">MAX uwt
	  		<input name="spells" value="11" type="checkbox">Spells/ops
	  		<button type="sumbit" name="submit" value="submit" class="btn btn-info btn-xs">Submit</button>
	  		</form>
		</center>
  </div>
</div>