{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container">
<div class="header">
		<h4>Note! <small>Survey don't work yet. So post it <a href="http://127.0.0.1:49998/Intel/">here</a>.</small></h4>  
    {% if data['user'] %}
        <h4><small>Logged in as:</small> {{ data['user']['name'] }}</h4>
		 {% else %}
		 {% endif %}
      </div>

      <div class="jumbotron">
        <h3>Add Intel <small>Last: <font color="black">{{ s['intel'] }}</font></small> </h3>
		<form action="/addintel" method="post">
		<textarea class="form-control" rows="3" name='intel'></textarea>
		<center><button value="submit" type="submit" class="btn btn-success">Send</button></center>
</from> 

      </div>
      <div class="row marketing">
        <div class="col-lg-6">
			{% if data['links'] %}
          <h4>Links</h4><p>
			  
		  {% for i in data['links'] %}
		  <a href='{{ i['url'] }}'>{{ i['name'] }}</a><br>
		  {% endfor %}</p>
        </div>
	 {% else %}
	 {% endif %}
      </div>
	  <br>
      <div class="footer">
        <p class='text-center text-muted'><small>HAL v.3.2 </small></p>
      </div>
</div>
{% endblock %}