{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<table class="sortable table table-condensed table-striped">
        <thead>
          <tr>
{% for i in data['head'] %}
            <th>{{ i }}</th>
{% endfor %}
          </tr>
        </thead>
		
		<tbody>
			{% for i in data['provinces'] %}
			<tr>
			<td>{% if i['honorTitle'] %}<small>{{ i['honorTitle']['name'] }}</small>{% else %}{% endif %} <a href='/intel/{{ i['id'] }}'>{{ i['name'] }}</a> </td>
			<td>{{ i['race']['name'] }} </td>
			{% if i['personality'] %}
			<td>{{ i['personality']['name'] }}</td>
			{% else %}
			<td></td>
			{% endif %}
			<td>{{ i['land'] }}</td>
			<td>{{ i['networth'] }}</td>
			<td>{{ i['NWPA'] }}</td>
                        <td>{{ i['last'] }} <small>ago</small></td>
			<td>{{ i['estimatedCurrentOffense'] }}</td>
			<td>{{ i['estimatedCurrentDefense'] }}</td>
			<td></td>


			</tr>
			{% endfor %}
		</tbody>
		
</table>
{% endblock %}