<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">HAL</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
		{% if data['type'] == 'Kingdom' %}
      <li class="active"><a href="/kd/{{ data['kid'] }}"><font color="black"><b>{{ data['name'] }} <small>{{ data['loc'] }}</small></b>
	  {% if data['Dragon'] %}
	  <span class="label label-info">{{ data['Dragon'] }}</span>
	   {% else %}
	   {% endif %}
	  </font></a></li>
	  {% elif data['type'] == 'province' %}
	   <li class="active"><a href="/intel/{{ data['pid'] }}"><font color="black"><b>{{ data['p']['name'] }} <small>{{ data['p']['kingdom']['location'] }}</small></b></font></a></li>
	  {% else %}
    <!--  Your Kingdom id -->
	  <li><a href='/kd/2'>Kingdom</a></li>
	   {% endif %}
    </ul>
    <form class="navbar-form navbar-left" role="search" action="/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Province, Kingdom.." name="search" >
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>

 {% include "wars.html" %} 

  </div><!-- /.navbar-collapse -->
</nav>