<ul class="nav navbar-nav navbar-right">
<li><a href='/kd/2'><button type="button" class="btn btn-info">1:11</button></a></li>
<li><a href='/kd/77'><button type="button" class="btn btn-warning" >2:22</button></a></li>
</ul>
